.site-nav {
  background: $c-silver;
  box-shadow: 0 2px 4px $c-shadow;

  &__wrapper {
    @extend %clearfix;
    margin: 0 auto;
    max-width: 67.5em;
    padding: scale(1) 0;
    width: 90%;

    &--left {
      @include column(2/3);

      li {
        float: left;
      }

      a:first-child {
        margin-left: 0;
      }
    }

    &--right {
      @include column(1/3);

      li {
        float: right;
      }

      a:last-child {
        margin-right: 0;
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    background: {
      image: linear-gradient($c-shadow,$c-shadow);
      position: 0 90%;
      size: 2px 2px;
      repeat: repeat-x;
    }
    color: $c-midnight;
    display: block;
    font-weight: 700;
    margin: 0 1rem;
    text: {
      decoration: none;
      transform: capitalize;
      shadow:
        1px 0 0 $c-silver,
        -1px 0 0 $c-silver,
        2px 0 0 $c-silver,
        -2px 0 0 $c-silver;
    }
    
    &:hover,&:focus {
      color: tint($c-midnight,30%);
    }
    &:active {
      color: shade($c-midnight,20%);
    }
  }
}

.current-menu-item a,
.current_page_item a {
  background-image: linear-gradient($c-crimson,$c-crimson);
}

/*.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}*/

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
