// ----------
//
// site-footer
//
// ----------

.site-footer {
  background: $c-silver;
  box-shadow: 0 -2px 4px $c-shadow;
  padding: 1rem 0;
}

.site-info {
  margin: 0 auto;
  max-width: 67.5em;
  width: 90%;
}
