// ----------
//
// c-note
//
// ----------

.c-note {
  background: $c-crimson;
  border-left: scale(1) solid shade($c-crimson,20%);
  margin: 0 auto;
  padding: scale(1.25);

  &--site-notice {
    font-size: scale(.85);
    line-height: 1.25;
    padding: scale(.5);
    text-align: center;
  }

  &__contents {
    color: $c-silver;
  }
}
