// ----------
//
// woocommerce overrides
//
// ----------

.woocommerce div.product form.cart,
.woocommerce div.product p.cart {
  margin-bottom: scale(1.5);
}

.select2-choice {
  background-image: none;
}

.woocommerce-checkout #payment .payment_method_paypal .about_paypal {
  float: none;
  line-height: 1.5;
  font: {
    size: scale(.85);
    style: italic;
  }
  margin-left: scale(.5);
}

.woocommerce .woocommerce-message,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-error {
  margin: 0 auto !important; //seriously?! come on, woocommerce.
  max-width: 67.5em;
  width: 90%;

  .c-letter & {
    box-shadow: 0 2px 4px $c-shadow;
    margin: 0 0 1.5rem !important;
    width: 100%;
  }
}

.product-remove a,
.product-thumbnail a {
  background: none;
}

.woocommerce .c-note + form {
  margin-top: 1.5rem;
}
